@model List<EmployeeManagement.Models.Employee>

<table>
    <tr>
        <th>EmployeeId</th>
        <th>EmployeeName</th>
        <th>EmployeeEmail</th>
        <th>EmployeeMobile</th>
        <th>EmployeeDepartment</th>
        <th>Action</th>
    </tr>

    <!-- Display the list of employees with action buttons -->
    @foreach (var employee in Model)
    {
        <tr>
            <td>@employee.EmployeeId</td>
            <td>@employee.EmployeeName</td>
            <td>@employee.EmployeeEmail</td>
            <td>@employee.EmployeeMobile</td>
            <td>@employee.EmployeeDepartment</td>
            <td>
                @using (Html.BeginForm("Delete", "Employee", new { employeeId = employee.EmployeeId }, FormMethod.Post, new { onsubmit = "return confirm('Are you sure you want to delete this employee?');" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Delete" />
                }
            </td>
        </tr>
    }
</table>
