@model List<EmployeeManagement.Models.Employee>

<table class="table">
    <tr>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Department</th>
        <th>Role</th>
    </tr>
    @foreach (var employee in Model)
    {
        <tr>
            <td>@employee.EmployeeId</td>
            <td>@employee.EmployeeName</td>
            <td>@employee.EmployeeEmail</td>
            <td>@employee.EmployeeDepartment</td>
            <td>@employee.RoleId</td>
        </tr>
    }
</table>
